@font-face {
    font-family: SuperPlumberBros;
    src: url(../fonts/prstartk.ttf);
}

html
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow: hidden;
}

body
{
    margin: 0;
    padding: 0;
    line-height: 1;
    position: relative;
}

span
{
    font: bold 100px SuperPlumberBros, Arial, Verdana;
    text-transform: uppercase;
    position: fixed;
    left: 300px;
    top: 50px;
}

ol
{
    font: bold 20px SuperPlumberBros, Arial, Verdana;
    position: fixed;
    left: 500px;
    top: 0px;
}