@font-face
{
    font-family: SuperMarioBros;
    src: url(../fonts/SuperMarioBros.ttf);
}

html
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow: hidden;
}

body
{
    margin: 0;
    padding: 0;
    line-height: 1;
    position: relative;
}

span
{
    font: bold 100px SuperMarioBros, Arial, Verdana;
    text-transform: uppercase;
    position: absolute;
    margin-top: 20px;
/*    margin-left: -scrollSum;*/
}